extends layout

block content
  div.container
    h1 Welcome to your poll admin page!
    
    .row
      .col-md-5.well
        h2 Results
        h3= 'Question: ' + poll.question
        
        div(id='results-' + poll.id)
      .col-md-1
      .col-md-5.well
        h2 Manage your poll
        br
        p.manage-options Change whether or not results are visible on your poll page:
        br
        if poll.isVisible
          button#hide-show-results.btn.btn-primary Hide results
        else
          button#hide-show-results.btn.btn-primary Show results
          
        br  
          
        p.manage-options Close your poll:
        br
        #poll-status-msg
          if poll.isOpen
            button#close-poll.btn.btn-primary Close poll
          else
            p.manage-options Poll is closed.
    
  script(src='/socket.io/socket.io.js')
  script. 
    var poll = !{JSON.stringify(poll)};
  script(src='/scripts/display-admin-results.js')
  script(src='/scripts/show-hide-poll-results.js')
  script(src='/scripts/close-poll.js')
