extends layout

block content
  div.container
    h1 Welcome to your poll admin page!
    
    .row
      .col-md-5.well
        h2 Results
        h3= 'Question: ' + poll.question
        
        div(id='results-' + poll.id)
      .col-md-1
      .col-md-5.well
        h2 Manage your poll
        br
        p.manage-options Change whether or not results are visible on your poll page:
        br
        if poll.isVisible
          button#hide-show-results.btn.btn-primary Hide results
        else
          button#hide-show-results.btn.btn-primary Show results
          
        br
        br
        br
        
        h3 Poll status:  
          
        #poll-open
          p.manage-options Your poll is open.
          br
          button#close-poll.btn.btn-primary Close poll
          br
          
          p.manage-options Set a time (UTC) for your poll to close automatically:
          br

          input.form-control.time-input#close-poll-hour(placeholder='HH')
          =' : '
          input.form-control.time-input#close-poll-minute(placeholder='MM')
          
          button#set-poll-close-time.btn.btn-primary Set poll end time
          br
          
          p.manage-options#poll-schedule-status
          
        #poll-closed
          p.manage-options Poll is closed.
          br
          
          button#open-poll.btn.btn-primary Re-open poll
    
  script(src='/socket.io/socket.io.js')
  script. 
    var poll = !{JSON.stringify(poll)};
  script(src='/scripts/display-admin-results.js')
  script(src='/scripts/show-hide-poll-results.js')
  script(src='/scripts/close-poll.js')
