doctype html
html(lang="en")
  head
    title= title
  body
    h1 Welcome to Crowdsource!
    
    p To get started, create a poll below. 
    p If you're looking for an existing poll, use the url provided to access it.
