extends layout

block content
  div.container
    h1 Welcome to Crowdsource!
    
    p To get started, create a poll below.
    
    #poll-urls
    
    .row
      .col-md-3
      .col-md-6
        .form-group
          label Poll Question:
          input.form-control#poll-question
          br
          
          #form-responses
            label Poll Responses:
            input.form-control.poll-response
            br
            
            input.form-control.poll-response
            br
            
          button.btn.btn-primary#add-response Add another response
          
          br
          br
          
          button.btn.btn-danger#create-poll Create poll
      .col-md-3
      
  script(src='/socket.io/socket.io.js')
  script(src='/scripts/create-poll.js')
