h1, p {
  text-align: center;
}

p {
  font-size: 150%;
  margin-bottom: 50px;
  margin-top: 20px;
}

h1 {
  margin-bottom: 50px;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 120%;
}

.manage-options {
  font-size: 110%;
  text-align: left;
  margin-bottom: 0;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

.time-input {
  width: 49px;
  display: inline;
}

#question {
  font-size: 250%;
  margin-top: 50px;
  margin-bottom: 0px;
}

#vote-status {
  text-align: center;
  font-size: 120%;
}

#results {
  width: 500px;
  height: 100%;
  text-align: center;
}

#set-poll-close-time {
  margin-left: 15px;
}
